@model Book.Models.Livre

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/blog.css")
@Styles.Render("~/Content/blog_responsive.css")

@Scripts.Render("~/Scripts/blog.js")

<div class="blog">
    <div class="section_container">
        <div class="container">
            <div class="row">
                <div class="col">

                    <!-- Blog Posts -->
                    <div class="blog_bosts">

                        <!-- Blog Post -->
                        <div class="blog_post row">
                            <div class="blog_post_image col col-3"><img src="~/media/images/@Html.DisplayFor(model => model.image)" /></div>
                            <div class="blog_post_content col col-9">
                                <div class="blog_post_title"><a href="#">@Html.DisplayFor(model => model.Titre)</a></div>
                                <div class="blog_post_info d-flex flex-row align-items-start justify-content-start">
                                    <div class="blog_post_date"><a href="#">@Html.ActionLink(Model.Auteur.Nom+" "+Model.Auteur.Prenom, "Index", "Auteurs", new { id = Model.Auteur.Id }, null)</a></div>
                                    <div class="blog_post_category">
                                        <ul>
                                            <li>dans @Html.ActionLink(Model.Genre.Designation, "Index", "Genres", new { id = Model.Genre.Id }, null)</li>
                                        </ul>
                                        <ul>
                                            <li>Publié le @Model.DateSortie.Value.ToString("dd/MM/yyyy")</li>
</ul>
                                    </div>
                                </div>
                                <div class="blog_post_text">
                                    @Html.DisplayFor(model => model.Description)
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>

        </div>
    </div>
</div>