@model Book.Models.Livre
@{
    ViewBag.Title = "Livre";
    Layout = "~/Views/Shared/front_layout.cshtml";
  
}
<div class="gameBox">
    <div class="gameBox__header">
        <h2>  @Html.DisplayNameFor(model => model.Titre)</h2>
    </div>
    <div class="row">
        <img src="~/media/images/@Html.DisplayFor(model => model.image)" alt="Image" />
        <p> @Html.DisplayFor(model => model.Genre.Designation)s</p>
        <p>
            @Html.DisplayFor(model => model.Description)
        </p>
        <p>
            Date de sortie : @Html.DisplayFor(model => model.DateSortie)
            <br />
            Auteur : @Html.DisplayFor(model => model.Auteur.Nom)
        </p>
    </div>
</div>

