@model IEnumerable<Book.Models.Livre>

@{
    ViewBag.Title = "Accueil";
    Layout = "~/Views/Shared/front_layout.cshtml";
}
<div class="gameBox">
    <div class="gameBox__header">
        <h2>Nouveautés</h2>
        @using (Html.BeginForm("SearchByKeywords", "Home", FormMethod.Post))
        {
            <input type="text" name="keywords"  id="keywords" placeholder="Recherche" />
            <button type="submit">Rechercher</button>
        }
    </div>

    <div class="row">
        @foreach (var item in Model)
        {   
        <div style="margin-bottom: 25px;">
            <label>@Html.DisplayFor(modelItem => item.Titre)</label>
            <br />
            <a href="@Url.Action("Livre", "Livres",new { id = @item.Id })"><img src="~/media/images/@Html.DisplayFor(modelItem => item.image)" alt="Image" /></a>
            <br />
            <br />
            <a href="@Url.Action("Livre", "Livres",new { id = @item.Id })" class="gameBox__btn gameBox__btn--large">Details</a>
        </div>
        }
    </div>
</div>
