@model Book.Models.Utilisateur
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/checkout.css")
@Styles.Render("~/Content/checkout_responsive.css")

@Scripts.Render("~/Scripts/checkout.js")
@Scripts.Render("~/Scripts/easing/easing.js")
<!-- Home -->

<div class="home">
    <div class="parallax_background parallax-window" data-parallax="scroll" style="background: url(.../../media/images/checkout.jpg) center" data-speed="0.8"></div>
    <div class="home_container">
        <div class="home_content">
            <div class="home_title"></div>
            <div class="breadcrumbs">
                <ul class="d-flex flex-row align-items-center justify-content-start">
                    
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col col-lg-3"></div>
    <div class="col col-lg-9">
        <div class="billing checkout_box">
            <div class="checkout_title">Se Connecter à tiaBoky  </div>
            <div class="checkout_form_container">
                @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "checkout_form", @id = "checkout_form" }))
                {
                    <div>
                        <!-- Company -->
                        <label for="checkout_company">Nom d'utilisateur </label>
                        @Html.TextBoxFor(s => s.NomUtilisateur, new { @class = "checkout_input", @id = "checkout_company" })
                    </div>
                    <div>
                        <!-- Company -->
                        <label for="checkout_company">Mot de passe</label>
                        @Html.PasswordFor(s => s.MotDePasse, new { @class = "checkout_input", @id = "checkout_company" })
                    </div>

                    <button type="submit" class="checkout_button trans_200">Se connecter</button>
                    <div class="order_text">Pas encore membre? Inscrivez-vous <a href="#">ici</a> </div>
                }
            </div>
            </div>
    </div>
</div>

@*@using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        <h2>Connexion</h2>
        <div>
            @Html.TextBoxFor(s => s.NomUtilisateur, new { @placeholder = "Nom d'utilisateur" })
            <br /> <br />
            @Html.PasswordFor(s => s.MotDePasse, new { @placeholder = "Mot de passe" })
            <br /> <br />
            <button type="submit">Se connecter</button>
        </div>
    }*@
